*.iml
.gradle/
.idea/
bin/
build/
.DS_Store
package-lock.json
scm-source.json
out/
**/classes/
**/.settings/
**/.classpath
**/.project

*node_modules
*.env*
*.log

target

cli/zally/coverage.txt
cli/zally/dist
web-ui/src/client/public/assets/bundle.js*
