extends:
  - eslint:recommended
  - prettier
  - plugin:jest/recommended
plugins:
  - jest
env:
  es6: true
  jest: true
  jest/globals: true
rules:
  no-console: 2
  no-empty: 2
  eqeqeq:
    - 2
    - always
  no-unused-vars: 1
  no-unsafe-negation: 2
  prefer-const: 2
  no-var: 2

  # Jest
  jest/no-focused-tests: 1
